<div class="footer">
  <div class="footer footer__socialBox">
    <div class="footer footer__socialBox footer__socialBox__title">
      <h2>Siguenos en:</h2>
    </div>
    <div class="footer footer__socialBox2">
    <p class="footer footer__socialBox2 footer__socialBox2__text">Twitter</p>
    <p class="footer footer__socialBox2 footer__socialBox2__text">Facebook</p>
    <p class="footer footer__socialBox2 footer__socialBox2__text">Instagram</p>
    <p class="footer footer__socialBox2 footer__socialBox2__text">TikTok</p>
  </div>
</div>
  <h2 class="footer footer__copyright">Copyright Shopéame © 2020</h2>
</div>
